<div class="main-container">

  <div class="multi-button-container">
    <button (click)="addNewClient()" mat-raised-button class="demo-button">
      Add data
    </button>
    <button (click)="removeClient()" mat-raised-button class="demo-button">
      Remove data
    </button>
  </div>

  <!-- SEARCH INPUT FIELD -->
  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Keyword" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-container">
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="Telephone">
      <th mat-header-cell *matHeaderCellDef>Telephone</th>
      <td mat-cell *matCellDef="let element">{{element['telephone']}}</td>
    </ng-container>

    <ng-container matColumnDef="Model">
      <th mat-header-cell *matHeaderCellDef>Model</th>
      <td mat-cell *matCellDef="let element">{{element.model}}</td>
    </ng-container>

    <ng-container matColumnDef="Chassis">
      <th mat-header-cell *matHeaderCellDef>Chassis</th>
      <td mat-cell *matCellDef="let element">{{element['chassis']}}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td class="table-actions" mat-cell *matCellDef="let element">
        <mat-icon (click)="editClient($event, element)" aria-hidden="false" aria-label="Example home icon">{{element.actions[0]}}</mat-icon>
        <mat-icon (click)="deleteClient($event, element)" aria-hidden="false" aria-label="Example home icon">{{element.actions[1]}}</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="clientDetails(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>

    <!-- Row shown when there is no matching data -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
