.btn {
  color: #BB162B;
  border: none;
  background-color: #ff5a00;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 4px;
  padding: .5rem .75rem;
  line-height: normal;
  user-select: none;
  font-size: 14px;
  appearance: none;
}

.primary-btn {
  border: none;
  background-color: #BB162B;
  color: #fff;
  font-size: 1.429em;
  height: 3rem;
}
