<!-- HEADER -->
<div class="main-container">
  <ng-container *ngIf="customerDetails$">
    <h3>Customer Name:  {{customerDetails$.name}}</h3>
    <h3>Customer Last Name:  {{customerDetails$.lastName}}</h3>
  </ng-container>
</div>


<!-- BODY -->

<ng-container *ngIf="appState">
  <ng-container *ngIf="customerDetails$">
    <div class="main-container">

      <div class="example-container">
        <div class="form-container">
          <form [formGroup]="clientForm">

            <div class="add-info back-red">
              <h2>Car Information</h2>
            </div>

            <div formGroupName="carInfo">
              <table class="example-full-width">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Make</mat-label>
                      <input matInput placeholder="Honda" formControlName="make">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Model</mat-label>
                      <input matInput placeholder="KIA" formControlName="model">
                    </mat-form-field>
                  </td>
                </tr>
              </table>

              <table class="example-full-width">
                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Chassis No.</mat-label>
                    <input matInput placeholder="Chassis No.">
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Ignition Key</mat-label>
                    <input matInput placeholder="DGF3456KF" formControlName="ignitionKey">
                  </mat-form-field>
                </td>
              </table>


              <table class="example-full-width">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Engine No.</mat-label>
                      <input matInput placeholder="Engine No." formControlName="engine">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Date of Reg</mat-label>
                      <input matInput formControlName="date" [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Reg. No.</mat-label>
                      <input matInput placeholder="Plates" formControlName="plates">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>


            <section class="example-section top-2">
              <mat-checkbox (change)="enableService($event)" class="example-margin">Let me create a Service!
              </mat-checkbox>
            </section>

            <ng-container *ngIf="!disabled">

              <div class="add-info back-red">
                <h2>Service Information</h2>
              </div>

              <form [formGroup]="clientForm.get('carInfo').get('service')">
                <table class="example-full-width">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Mileage Km</mat-label>
                        <input matInput placeholder="Mi" formControlName="mileage">
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Repair Order</mat-label>
                        <mat-select (selectionChange)="selectRepairType($event.value)">
                          <mat-option *ngFor="let option of repairType" [value]="option.value">
                            {{option.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Work Performed</mat-label>
                  <input matInput placeholder="Write Something.." formControlName="work">
                </mat-form-field>
              </form>

            </ng-container>


            <button mat-raised-button type="submit" (click)="onSubmit($event, clientForm.value)">Save</button>
          </form>
        </div>
      </div>


    </div>
  </ng-container>
</ng-container>
