.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-container {
  padding-left: 13%;
  padding-right: 13%;
}

.example-full-width {
  width: 100%;
}

.half-width {
  flex-basis: 40%;
  max-width: 40%;
}

.disabled {
  pointer-events: none;
  background-color: lightgray;
}

td {
  padding-right: 8px;
}

.example-margin {
  margin: 0 12px;
}

.example-section {
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
