.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-container {
  padding-left: 13%;
  padding-right: 13%;
}

.example-full-width {
  width: 100%;
}

.half-width {
  flex-basis: 40%;
  max-width: 40%;
}

td {
  padding-right: 8px;
}

@media only screen and (max-width: 1440px) {

}

@media only screen and (min-width: 1440px) {
  .example-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .example-container {
    padding: unset;
  }
}
