<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>JMS Admin</h2>
      <h4>mconstantinou923@gmail.com</h4>
    </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <!-- TODO USE STATE MANAGER / REDUX TO KEEP WEBSITE STATE ( URL ) -->
  <a mat-list-item (click)="navigateTo('dashboard')">Dashboard</a>
  <a mat-list-item (click)="navigateTo('clients')">Clients / Cars</a>

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item (click)="signOut($event)">
    <mat-icon>logout</mat-icon>
    Log out
  </a>

</mat-nav-list>
