/* You can add global styles to this file, and also import other style files */

@import 'assets/design-components/misc.scss';
@import 'assets/design-components/design-system.scss';
@import 'assets/design-components/buttons.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-container {
  padding: 5rem;
}
