<!-- todo loading state manager -->

<div class="main-container" *ngIf="appState.users">

  <div class="c-dash--divider">

    <div class="c-info--title">
      <div class="title">
        <span>System Overview</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-content"
             (click)="toClientsPage($event)">

          <div class="i-chip">
            <span class="chip material-icons">supervised_user_circle</span>
            <ng-container *ngIf="appState">
              <span class="chip-text">{{appState.users.length}} Clients</span>
            </ng-container>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-content">

          <div class="i-chip">
            <span class="chip material-icons">directions_car</span>
            <ng-container *ngIf="appState">
              <span class="chip-text">{{appState.users.length}} Cars</span>
            </ng-container>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
      </div>

  </div>

  </div>

</div>
