<div class="main-container">

  <div class="c-dash--divider">

    <div class="c-info--title">
      <div class="title">
        <span>System Overview</span>
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-content"
             (click)="toClientsPage($event)">

          <div class="i-chip">
            <span class="chip material-icons">directions_car</span>
            <span class="chip-text">2 Clients</span>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
      </div>

      <div class="card">
        <div class="card-content">
        </div>
      </div>

  </div>

  </div>

</div>
